#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list li {
    display: flex;
    background-color: #e7e6e6;
    border-radius: 15px;
    margin-bottom: 10px;
}

.list li input{
    margin-right: 10px;
}

.add_btn{
    width: 100%;
    background-color: #2a69f0;
    color: white;
    border-radius: 15px;
}

.container {
    background: white;
    padding: 50px;
    border-radius: 15px;
}

.card-clicked{
    filter: brightness(0.9); /* Затемнение элемента */
}
.btn_product{
    border: none; /* Убираем границу кнопки */
    background-color: transparent; /* Убираем фоновый цвет кнопки */
    font: inherit; /* Наследуем шрифт от родительского элемента */
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 15px;
    padding:10px;
}

.btn_product:focus{
    outline: none;
}
